<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- 引入jdbc配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 扫描文件（自动将service层注入） -->
	<context:component-scan
		base-package="com.simi.service.**,
					  com.simi.service.admin.**,
					  com.hos.service.**,
					  com.hos.service.dict.**,
					  com.hos.service.project.**,
					  com.hos.service.student.**,
					  com.hos.service.async.**,
					  com.simi.service.impl.**,
					  com.simi.service.impl.admin.**,
					  com.hos.service.impl.**,
					  com.hos.service.impl.dict.**,
					  com.hos.service.impl.project.**,
					  com.hos.service.impl.student.**,
					  com.hos.service.impl.async.**">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
	</context:component-scan>

	<task:annotation-driven executor="defaultTaskExecutor" scheduler="defaultTaskScheduler" />
	<bean id="exceptionHandlingTaskExecutor" class="com.hos.service.async.ExceptionHandlingAsyncTaskExecutor">
		<constructor-arg ref="defaultTaskExecutor" />
	</bean>
	<task:executor id="defaultTaskExecutor" pool-size="5" />
	<task:scheduler id="defaultTaskScheduler" pool-size="1000" />


	<!-- 自动加载基础字典信息到 内存 -->
	<bean id="StartOnLoadPostProcessor" class="com.hos.common.StartOnLoadPostProcessor" />

</beans>
