<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.admin.AdminRoleMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.admin.AdminRole" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="version" property="version" jdbcType="NUMERIC" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, name, enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from admin_role
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from admin_role
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from admin_role
  </select>
  	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from admin_role
    where 1=1
        <if test="name != null" >
        and name like CONCAT('%','${name}','%' )
      </if>
  </select>
  <!--根据roleIds查询roleName  -->
   <select id="selectByRoleIds" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin_role
    where id in
 	<foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
        #{item}
    </foreach>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from admin_role
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.simi.po.model.admin.AdminRole" >
    insert into admin_role (id, version, name,
      enable)
    values (#{id,jdbcType=NUMERIC}, #{version,jdbcType=NUMERIC}, #{name,jdbcType=VARCHAR},
      #{enable,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.admin.AdminRole" >
	<selectKey resultType="java.lang.Long" order="AFTER"
		keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>   
    insert into admin_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="version != null" >
        #{version,jdbcType=NUMERIC},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.admin.AdminRole" >
    update admin_role
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=NUMERIC},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simi.po.model.admin.AdminRole" >
    update admin_role
    set version = #{version,jdbcType=NUMERIC},
      name = #{name,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>