<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simi.po.dao.admin.AdminOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.simi.po.model.admin.AdminOrganization" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="version" property="version" jdbcType="NUMERIC" />
    <result column="enable" property="enable" jdbcType="NUMERIC" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level_code" property="levelCode" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="NUMERIC" />
    <result column="the_value" property="theValue" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, enable, name, level_code, position, the_value, parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from admin_organization
    where id = #{id,jdbcType=NUMERIC}
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from admin_organization
    where name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="selectByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from admin_organization
    where parent_id = #{parentId,jdbcType=NUMERIC}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from admin_organization
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.simi.po.model.admin.AdminOrganization" >
    insert into admin_organization (id, version, enable,
      name, level_code, position,
      the_value, parent_id)
    values (#{id,jdbcType=NUMERIC}, #{version,jdbcType=NUMERIC}, #{enable,jdbcType=NUMERIC},
      #{name,jdbcType=VARCHAR}, #{levelCode,jdbcType=VARCHAR}, #{position,jdbcType=NUMERIC},
      #{theValue,jdbcType=VARCHAR}, #{parentId,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.simi.po.model.admin.AdminOrganization" >
    insert into admin_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="levelCode != null" >
        level_code,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="theValue != null" >
        the_value,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="version != null" >
        #{version,jdbcType=NUMERIC},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=NUMERIC},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null" >
        #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=NUMERIC},
      </if>
      <if test="theValue != null" >
        #{theValue,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simi.po.model.admin.AdminOrganization" >
    update admin_organization
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=NUMERIC},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=NUMERIC},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null" >
        level_code = #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=NUMERIC},
      </if>
      <if test="theValue != null" >
        the_value = #{theValue,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simi.po.model.admin.AdminOrganization" >
    update admin_organization
    set version = #{version,jdbcType=NUMERIC},
      enable = #{enable,jdbcType=NUMERIC},
      name = #{name,jdbcType=VARCHAR},
      level_code = #{levelCode,jdbcType=VARCHAR},
      position = #{position,jdbcType=NUMERIC},
      the_value = #{theValue,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>