<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hos.po.dao.project.ProjectCourseMapper">
	<resultMap id="BaseResultMap" type="com.hos.po.model.project.ProjectCourse">
		<id column="course_id" property="courseId" jdbcType="NUMERIC" />
		<result column="p_id" property="pId" jdbcType="NUMERIC" />
		<result column="course_date" property="courseDate" jdbcType="VARCHAR" />
		<result column="start_time" property="startTime" jdbcType="VARCHAR" />
		<result column="end_time" property="endTime" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="teacher" property="teacher" jdbcType="VARCHAR" />
		<result column="title_str" property="titleStr" jdbcType="VARCHAR" />
		<result column="title_id" property="titleId" jdbcType="NUMERIC" />
		<result column="org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="org_id" property="orgId" jdbcType="NUMERIC" />
		<result column="course_type" property="courseType" jdbcType="VARCHAR" />
		<result column="credit" property="credit" jdbcType="SMALLINT" />
		<result column="file_name" property="fileName" jdbcType="VARCHAR" />
		<result column="admin_id" property="adminId" jdbcType="NUMERIC" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
		<result column="upVARCHAR_time" property="updateTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		course_id, p_id, course_date, start_time, end_time, content, teacher, title_str,
		title_id, org_name, org_id, course_type, credit, file_name, admin_id, add_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from project_course
		where course_id = #{courseId,jdbcType=NUMERIC}
	</select>
	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.hos.vo.project.ProjectCourseSearchVo">
		select
		<include refid="Base_Column_List" />
		from project_course
		<include refid="bySearchVo" />
		order by course_date, start_time asc
	</select>

	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.hos.vo.project.ProjectCourseSearchVo">
		select
		<include refid="Base_Column_List" />
		from project_course
		<include refid="bySearchVo" />
		order by course_date, start_time asc
	</select>

	<sql id="bySearchVo">
		where 1 = 1
		<if test="pId != null">
			and p_id = #{pId,jdbcType=NUMERIC}
		</if>

		<if test="courseDate != null">
			and course_date = #{courseDate,jdbcType=VARCHAR}
		</if>

		<if test="startTime != null">
			and start_time = #{startTime,jdbcType=VARCHAR}
		</if>
		
		<if test="endTime != null">
			and end_time = #{endTime,jdbcType=VARCHAR}
		</if>
		
		<if test="content !=null and content !='' ">
			and content like  CONCAT('%',#{content},'%')
		</if>
		
		<if test="teacher !=null and teacher !='' ">
			and teacher like  CONCAT('%',#{teacher},'%')
		</if>

	</sql>
	
	<select id="selectByDateRange" resultType="java.util.HashMap"  parameterType="java.lang.Long">
		select
		min(course_date) as minDate, max(course_date) as maxDate
		from project_course
		where p_id = #{pId,jdbcType=NUMERIC}
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from project_course
		where course_id = #{courseId,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.hos.po.model.project.ProjectCourse">
		<selectKey resultType="java.lang.Long" keyProperty="courseId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into project_course (p_id, course_date, start_time,
		end_time, content,
		teacher, title_str, title_id, org_name, org_id,
		course_type, credit, file_name, admin_id, add_time, update_time
		)
		values (#{pId,jdbcType=NUMERIC}, #{courseDate,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR},
		#{endTime,jdbcType=VARCHAR}, 
		#{content,jdbcType=VARCHAR},
		#{teacher,jdbcType=VARCHAR}, 
		#{titleStr,jdbcType=VARCHAR}, #{titleId,jdbcType=NUMERIC}, 
		#{orgName,jdbcType=VARCHAR}, #{orgId,jdbcType=NUMERIC},
		#{courseType,jdbcType=VARCHAR},  #{credit,jdbcType=NUMERIC}, 
		#{fileName,jdbcType=VARCHAR},  #{adminId,jdbcType=NUMERIC}, 
		#{addTime,jdbcType=NUMERIC}, #{updateTime,jdbcType=NUMERIC}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.hos.po.model.project.ProjectCourse">
		<selectKey resultType="java.lang.Long" keyProperty="courseId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into project_course
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pId != null">
				p_id,
			</if>
			<if test="courseDate != null">
				course_date,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="teacher != null">
				teacher,
			</if>
			<if test="titleStr != null">
				title_str,
			</if>
			<if test="titleId != null">
				title_id,
			</if>
			<if test="orgName != null">
				org_name,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
			<if test="courseType != null">
				course_type,
			</if>
			<if test="credit != null">
				credit,
			</if>
			<if test="fileName != null">
				file_name,
			</if>
			<if test="adminId != null">
				admin_id,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pId != null">
				#{pId,jdbcType=NUMERIC},
			</if>
			<if test="courseDate != null">
				#{courseDate,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=VARCHAR},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="teacher != null">
				#{teacher,jdbcType=VARCHAR},
			</if>
			<if test="titleStr != null">
				#{titleStr,jdbcType=VARCHAR},
			</if>
			<if test="titleId != null">
				#{titleId,jdbcType=NUMERIC},
			</if>
			<if test="orgName != null">
				#{orgName,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=NUMERIC},
			</if>
			<if test="courseType != null">
				#{courseType,jdbcType=VARCHAR},
			</if>
			<if test="credit != null">
				#{credit,jdbcType=NUMERIC},
			</if>
			<if test="fileName != null">
				#{fileName,jdbcType=VARCHAR},
			</if>
			<if test="adminId != null">
				#{adminId,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hos.po.model.project.ProjectCourse">
		update project_course
		<set>
			<if test="pId != null">
				p_id = #{pId,jdbcType=NUMERIC},
			</if>
			<if test="courseDate != null">
				course_date = #{courseDate,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=VARCHAR},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="teacher != null">
				teacher = #{teacher,jdbcType=VARCHAR},
			</if>
			<if test="titleStr != null">
				title_str = #{titleStr,jdbcType=VARCHAR},
			</if>
			<if test="titleId != null">
				title_id = #{titleId,jdbcType=NUMERIC},
			</if>
			<if test="orgName != null">
				org_name = #{orgName,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=NUMERIC},
			</if>
			<if test="courseType != null">
				course_type = #{courseType,jdbcType=VARCHAR},
			</if>
			<if test="credit != null">
				credit = #{credit,jdbcType=NUMERIC},
			</if>
			<if test="fileName != null">
				file_name = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="adminId != null">
				admin_id = #{adminId,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=NUMERIC},
			</if>
		</set>
		where course_id = #{courseId,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hos.po.model.project.ProjectCourse">
		update project_course
		set p_id = #{pId,jdbcType=NUMERIC},
		course_date = #{courseDate,jdbcType=VARCHAR},
		start_time = #{startTime,jdbcType=VARCHAR},
		end_time = #{endTime,jdbcType=VARCHAR},
		content =
		#{content,jdbcType=VARCHAR},
		teacher = #{teacher,jdbcType=VARCHAR},
		title_str = #{titleStr,jdbcType=VARCHAR},
		title_id = #{titleId,jdbcType=NUMERIC},
		org_name = #{orgName,jdbcType=VARCHAR},
		org_id = #{orgId,jdbcType=NUMERIC},
		course_type =
		#{courseType,jdbcType=VARCHAR},
		credit = #{credit,jdbcType=NUMERIC},
		file_name = #{fileName,jdbcType=VARCHAR},
		admin_id = #{adminId,jdbcType=NUMERIC},
		add_time = #{addTime,jdbcType=NUMERIC},
		update_time = #{updateTime,jdbcType=NUMERIC}
		where course_id =
		#{courseId,jdbcType=NUMERIC}
	</update>
</mapper>